@media (max-width: 700px){
    .text-box h1{
        font-size: 20px;    
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background-color: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index:2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
}
@media (max-width: 700px){
    .testimonials-col img{
        
        margin-left: 0px;
        margin-right:15px;
       
    }
}

@media (max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}


@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
}